@inherits LayoutComponentBase

<div class="page">

    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <div class="main">
        <div class="top-row px-4">
            <MudText Typo="Typo.h4">Sondeernæring</MudText>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
